[client]
# The client section is read by mycli and all MySQL applications.

# mysqldump: [ERROR] unknown variable 'pager'
pager = 'vim -u ~/.my.vim -'

# comment pager line and add alias in ~/.bashrc to avoid mysqldump ERROR
# alias mycli="PAGER='vim -u ~/.my.vim -' mycli"